.detalhe-page {
  padding: 20px;
  width: 100%;
  max-width: 1000px;

  .produto-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    .produto-info {
      flex-grow: 1;

      .form-group {
        margin-top: 20px;
      }
    }

    .perguntas-container {
      width: 100%;
      padding: 5px;
      border: 1px solid darkgray;
    }
  }
  .page-title {
    text-align: center;
    color: #f5f5f5;
    background-color: #282a36;
  }

  .carousel {
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
}
.detalhe-card-image {
  height: 400px;
  width: 100%;
}

.texto-detalhe {
  width: 100%;
}

.texto-detalhe.pergunta {
  margin-top: 5px;
}
