* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  font-family: sans-serif;
}
